.DS_Store
.cache
.coverage*
.eggs
.mypy_cache
.tox
.venv
.vscode
CHANGELOG.md
CMakeFiles
__pycache__
_readthedocs
build
coverage.xml
dist
node_modules
report.html
site
src/mk.egg-info
src/mk/_version.py
.ansible
