---
ci:
  skip: [markdownlint_docker]
repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: "v0.1.13"
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-prettier
    # keep it before yamllint
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        always_run: true
        additional_dependencies:
          - prettier
          - prettier-plugin-toml
          - prettier-plugin-sort-json
  - repo: https://github.com/markdownlint/markdownlint.git
    rev: v0.12.0
    hooks:
      - id: markdownlint_docker
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        args: [--safe]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.33.0
    hooks:
      - id: yamllint
        files: \.(yaml|yml)$
        types: [file, yaml]
        entry: yamllint --strict
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        # mypy args needed in order to match mypy cli behavior
        args: ["--python-version", "3.9"]
        entry: mypy src/
        pass_filenames: false
        additional_dependencies:
          - build
          - diskcache
          - importlib-metadata
          - packaging
          - rich
          - subprocess-tee
          - typer>=0.7.0
  - repo: https://github.com/pycqa/pylint
    rev: v3.0.3
    hooks:
      - id: pylint
        additional_dependencies:
          - GitPython
          - click-help-colors
          - diskcache
          - importlib-metadata
          - pytest
          - rich
          - subprocess-tee
          - typer>=0.7.0
