---
ci:
  # We rely on renovate to update it but there is no way to fully disable it
  # https://github.com/pre-commit-ci/issues/issues/83
  autoupdate_schedule: quarterly
  skip:
    - cspell # missing uv
    - codecov # missing uv
    - shellcheck # no docker support on pre-commit.ci
    # uv not present on pre-commit.ci
    - mypy
    - ruff
    - toml
    - renovate-config-validator
repos:
  - repo: meta
    hooks:
      - id: check-useless-excludes
        priority: 0
  - repo: https://github.com/ansible/actions
    rev: v0.5.1
    hooks:
      - id: toml
        priority: 0
      - id: mypy
        priority: 2
      - id: ruff
        priority: 1
      - id: cspell
        priority: 0
      - id: codecov
        priority: 0
      - id: shellcheck
        priority: 0
      - id: renovate-config-validator
        priority: 0
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.10.4
    hooks:
      - id: uv-sync
      - id: uv-lock
        name: "deps: upgrade via uv sync --upgrade"
        alias: deps
        args: ["--upgrade"]
        stages: [manual]
  - repo: https://github.com/biomejs/pre-commit
    rev: "v2.4.2"
    hooks:
      - id: biome-check
        name: biome
        alias: biome
        args: [--unsafe]
        priority: 0
  - repo: https://github.com/pre-commit/pre-commit-hooks.git
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
        priority: 0
      - id: check-merge-conflict
      - id: check-symlinks
      - id: debug-statements
      - id: detect-private-key
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: fix-byte-order-marker
      - id: check-executables-have-shebangs
      - id: check-merge-conflict
