[MESSAGES CONTROL]

disable =
    # Disabled on purpose (explain in comment)
    line-too-long,  # black managed
    wrong-import-position,  # isort managed
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    dangerous-default-value,
    invalid-name,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-value-for-parameter,
    not-an-iterable,
    too-few-public-methods,

[SIMILARITIES]
# default is 4
min-similarity-lines = 5
