GitPython
blessings
build>=0.3.1.post1  # py_package
click >= 7.1.2
colorama  # for Windows
diskcache >= 5.2.1
importlib-metadata
pip>=21.0.1  # py_package
pluggy
pygments
pyyaml
rich >= 9.0
shellingham
subprocess-tee >= 0.3.1
tomli >= 1.1.0 ; python_version < "3.11"
twine>=3.4.1  # py_package
typer
