---
name: release
on:
  release:
    types: [published]
jobs:
  pypi:
    name: Publish ${{ github.event.release.tag_name || '<testing>' }} to pypi.org
    environment: release
    runs-on: ubuntu-24.04
    permissions:
      id-token: write
    steps:
      - uses: astral-sh/setup-uv@eac588ad8def6316056a12d4907a9d4d84ff7a3b # v7

      - name: Check out src from Git
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          fetch-depth: 0 # needed by setuptools-scm
          submodules: true

      - name: Build dists
        run: uv build --all-packages

      - name: Run smoke tests for wheels
        run: uv run --isolated --no-project $(printf -- "--with %s " dist/*.whl) ./tools/smoke.sh

      - name: Run smoke tests for source distribution
        run: uv run --isolated --no-project $(printf -- "--with %s " dist/*.tar.gz) ./tools/smoke.sh

      - name: Attach dists to the release
        if: github.event_name == 'release'
        # cspell: ignore softprops
        uses: softprops/action-gh-release@a06a81a03ee405af7f2048a818ed3f03bbf83c7b # v2
        with:
          name: ${{ github.event.release.tag_name }}
          files: dist/*

      - name: Publish to pypi.org
        # "create" workflows run separately from "push" & "pull_request"
        if: github.event_name == 'release'
        run: uv publish --trusted-publishing always
